html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding-top: 60px;
}
