.primary-nav {
    @include font-size(24px, false);

    a {
        padding: 10px 0;
        display: inline-block;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}
