i.mce-i-my-mce-btn {
    background-image: url(../assets/img/icon-button.png);
}
i.mce-i-my-mce-alert {
    background-image: url(../assets/img/icon-alert.png);
}
i.mce-i-my-mce-pullquote {
    background-image: url(../assets/img/icon-pullquote.png);
}
